player-connection-mode=Listen
player-connection-guid=2589470964
player-connection-debug=0
player-connection-project-name=Kelompok 2 Project Uas Multimedia
player-connection-ip=192.168.1.3
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=dfcd814dd8104ed39746f432dfe0acd4
